<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list by: Xiaojin Li</title>
    <link rel="stylesheet" href="../../static/dolist/style.css">
</head>
<body>
    <main class="mainContainer">
        <h1 class="title">My do list</h1>
        <form class="form">
            <div class="form-group">
                <input type="text" class="todo_text" placeholder="What to do?..">
                <button class="btn_submit">ADD</button>
            </div>
        </form>
        <!-- delete buttons -->
        <div class="btn_group">
            <button class="btn_del">DELETE COMPLETED</button>
            <button class="btn_del">DELETE ALL</button>
        </div>

        <!-- LIST DISPLAY -->
        <ul class="list_do">
            <li class="list_item">Add a do list</li>
            <li class="list_item completed">Finish project 1</li>
        </ul>


    </main>
    
</body>
</html>