<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list by: Xiaojin Li</title>
    <link rel="stylesheet" href="../../static/dolist/style.css">
</head>
<body>
    <main class="mainContainer">
        <h1 class="title">My do list</h1>
        <form class="form" method="post" action="{% url 'add_todo' %}">
            {% csrf_token %}
            <div class="form-group">
                <input type="text" class="todo_text" name="text" placeholder="What to do?..">
                <button class="btn_submit" type="submit">ADD</button>
            </div>
        </form>
        



        <!-- delete buttons -->
        <div class="btn_group">
            <a href="{% url 'delete_completed' %}" class="btn_del">DELETE COMPLETED</a>
            <a href="{% url 'delete_all' %}" class="btn_del">DELETE ALL</a>

        </div>

        <!-- LIST DISPLAY -->
        <ul class="list_do">
            <li class="list_item">Add a to-do list</li>
         
            {% for i in todo_items %}
            {% if i.completed %}
            <li class="list_item completed">{{ i.text }}</li>
            {% else %}
            <li class="list_item">{{ i.text }}</li>
            {% endif %}
        {% endfor %}
        
     
            <li class="fully_completed">Complete project 1 </li>
        </ul>
        

    </main>
    
</body>
</html>